/* The image sheet is a 4x4 grid of 16x16 tiles */

.tile {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;

}

.double-edge {
  background: url('/images/wallset.gif') -0px -48px;
}

.cap {
  background: url('/images/wallset.gif') -16px -32px;
}

.top-right-corner {
  background: url('/images/wallset.gif') -48px -16px;
}

.top-left-corner {
  background: url('/images/wallset.gif') -0px -32px;
}

.right-edge,
.right-top-edge {
  background: url('/images/wallset.gif') -32px -32px;
}

.right-bottom-edge {
   background: url('/images/wallset.gif') -16px -48px;
}

.left-edge,
.left-top-edge {
  background: url('/images/wallset.gif') -48px -32px;
}
.left-bottom-edge {
   background: url('/images/wallset.gif') -32px -48px;
}

.top-edge,
.bottom-edge {
    background: url('/images/wallset.gif') 0px 0px;
}

.floor {
  background: url('/images/wallset.gif') -48px -48px;
}

.empty {
  background-color: red;
}

.door {
  background: url('/images/wallset.gif') -48px -48px;
}