/* The image sheet is a 4x4 grid of 16x16 tiles */

.tile {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;

}
.tile-fog {
  background: black;
}

.tile-0 {
  background: url(./images/wallset.gif) 0px 0px;
}


.tile-1 {
  background: url(./images/wallset.gif) -16px 0px;
}


.tile-2 {
  background: url(./images/wallset.gif) -32px 0px;
}


.tile-3 {
  background: url(./images/wallset.gif) -48px 0px;
}

.tile-4 {
  background: url(./images/wallset.gif) 0px -16px;
}


.tile-5 {
  background: url(./images/wallset.gif) -16px -16px;
}


.tile-6 {
  background: url(./images/wallset.gif) -32px -16px;
}


.tile-7 {
  background: url(./images/wallset.gif) -48px -16px;
}


.tile-8 {
  background: url(./images/wallset.gif) 0px -32px;
}


.tile-9 {
  background: url(./images/wallset.gif) -16px -32px;
}

.tile-10 {
  background: url(./images/wallset.gif) -32px -32px;
}

.tile-11 {
  background: url(./images/wallset.gif) -48px -32px;
}

.tile-12 {
  background: url(./images/wallset.gif) 0px -48px;
}


.tile-13 {
  background: url(./images/wallset.gif) -16px -48px;
}


.tile-14 {
  background: url(./images/wallset.gif) -32px -48px;
}


.tile-15 {
  background: url(./images/wallset.gif) -48px -48px;
}

.empty {
  background-color: red;
}

.door {
  background: url(./images/wallset.gif) -48px -48px;
}